

.content {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  @extend .size-collapsed;
  opacity: 0;
  background-color: black;

  width: $collapsed-width;
  height: $collapsed-height;
  img {
    position: absolute;
  }

  .catch-all {
    @extend .size-collapsed;
    @extend .catch-all;
  }

  #UIImage {
    @include sprite-retina($standard-background-map, 'uiImage');
    position: absolute;
    left: 185px;
  }

  #rec {
    position: absolute;
    background-color: black;
    width: 185px;
    height: 250px;
  }

  // .cta is the interactive hit area of the CTA button
  // .cta {
  //   @extend .basic-button;
  //   width: 101px;
  //   height: 47px;
  //   left: 865px;
  //   top: 200px;
  //   background-color: rgba(200, 0, 200, .25);
  //
  // }



  }
