
.content {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  @extend .size-collapsed;
  opacity: 0;
  background-color: white;

  width: $collapsed-width;
  height: $collapsed-height;

  img {
    position: absolute;
  }

  .catch-all {
    @extend .size-collapsed;
    @extend .catch-all;
  }

  // .cta is the interactive hit area of the CTA button


  #template {
    // background-image: url("../images/template.png");
    position: absolute;
    opacity: .5;
  }

  #rightColumnRoot{
    width: $collapsed-width;
    height: $collapsed-height;
    left: 183px;
    position: absolute;
    background-color: #4285f4;
  }

  .catch-all {
  @extend .size-collapsed;
  @extend .catch-all;
}

// .cta is the interactive hit area of the CTA button

.cta {
  @extend .basic-button;
  width: 93.5px;
  height: 36px;
  left: 20px;
  top: 194.5px;
  background-color: rgba(255,255,255,.01);
  border-radius: 4px;
}

#ctaBG {
  position: absolute;
  width: 93.5px;
  height: 36px;
  left: 20px;
  top: 194.5px;
  background-color: #4285f4;
  border-radius: 4px;
}

#messageContainer{
position: absolute;
left: 0px;
top: 0px;
height: 202px;
width: $collapsed-width;
overflow: hidden;
}

#message01{
@include sprite-retina ($standard-foreground-map, 'message01');
position: absolute;
right: 0px;
top: 0px;
}

#phone {
@include sprite-retina ($standard-foreground-map, 'phone');
position: absolute;
right: 0px;
top: 0px;
}

}
