/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/

$standard-background-map: (
bgImage: (
  name: 'bgImage',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 970px,
  height: 250px,
  total-width: 970px,
  total-height: 250px,
  image: '../images/standard-background-sprite.png',
  usejpg: true
),
spritesheet: (
  width: 970px,
  height: 250px,
  image: '../images/standard-background-sprite.png'
)

)



